HelloWorldAPI/HelloWorldAPI-registry/wsdl/HelloWorldAPI.wsdl


<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://syngenta.com/api/example/helloworld/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelloWorldAPI"
	xmlns:ebo="http://syngenta.com/ebo/v1"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	targetNamespace="http://syngenta.com/api/example/helloworld/v1">
	<wsdl:types>
		<xsd:schema targetNamespace="http://syngenta.com/api/example/helloworld/v1">

		   	<xsd:import namespace="http://syngenta.com/ebo/v1"	schemaLocation="SecurityFaultv1.xsd" />
		   	<xsd:import namespace="http://syngenta.com/ebo/v1"	schemaLocation="BusinessFaultv1.xsd" />
		   	<xsd:import namespace="http://syngenta.com/ebo/v1"	schemaLocation="TechnicalFaultv1.xsd" />
		   	<xsd:import namespace="http://syngenta.com/ebo/v1"	schemaLocation="ValidationFaultv1.xsd" />

		   	<xsd:include schemaLocation="HelloWorldAPI.xsd" />

			<xsd:element name="operationNameRequest" type="tns:OperationNameRequest"/>
			<xsd:element name="operationNameResponse" type="tns:OperationNameResponse"/>

			<xsd:element name="TechnicalFault" type="ebo:TechnicalFault" />
			<xsd:element name="SecurityFault" type="ebo:SecurityFault" />
			<xsd:element name="BusinessFault" type="ebo:SecurityFault" />
			<xsd:element name="ValidationFault" type="ebo:ValidationFault" />

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="operationNameRequestMessage">
		<wsdl:part element="tns:operationNameRequest" name="input" />
	</wsdl:message>

	<wsdl:message name="operationNameResponseMessage">
		<wsdl:part element="tns:operationNameResponse" name="output" />
	</wsdl:message>

	<wsdl:message name="BusinessFaultMsg">
		<wsdl:part name="BusinessFault" element="tns:BusinessFault" />
	</wsdl:message>

	<wsdl:message name="TechnicalFaultMsg">
		<wsdl:part name="TechnicalFault" element="tns:TechnicalFault" />
	</wsdl:message>

	<wsdl:message name="SecurityFaultMsg">
		<wsdl:part name="SecurityFault" element="tns:SecurityFault" />
	</wsdl:message>

	<wsdl:message name="ValidationFaultMsg">
		<wsdl:part name="ValidationFault" element="tns:ValidationFault" />
	</wsdl:message>

	<wsdl:message name="in"/>
	<wsdl:message name="out"/>

	<wsdl:portType name="HelloWorldAPIPortType">

		<wsdl:operation name="operationName">
			<wsdl:input message="tns:operationNameRequestMessage" />
			<wsdl:output message="tns:operationNameResponseMessage" />
			<wsdl:fault name="BusinessFault" message="tns:BusinessFaultMsg" />
			<wsdl:fault name="TechnicalFault" message="tns:TechnicalFaultMsg" />
			<wsdl:fault name="SecurityFault" message="tns:SecurityFaultMsg" />
			<wsdl:fault name="ValidationFault" message="tns:ValidationFaultMsg" />
		</wsdl:operation>

		<wsdl:operation name="echo">
			<wsdl:input message="tns:in" wsaw:Action="urn:mediate"/>
			<wsdl:output message="tns:out" wsaw:Action="urn:mediateResponse"/>
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="HelloWorldAPISOAPBinding" type="tns:HelloWorldAPIPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="operationName">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="BusinessFault">
				<soap:fault name="BusinessFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="TechnicalFault">
				<soap:fault name="TechnicalFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="SecurityFault">
				<soap:fault name="SecurityFault" use="literal" />
			</wsdl:fault>
			<wsdl:fault name="ValidationFault">
				<soap:fault name="ValidationFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="echo">
			<soap:operation soapAction="urn:mediate" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="HelloWorldAPI">
		<wsdl:port binding="tns:HelloWorldAPISOAPBinding" name="HelloWorldAPISOAP">
			<soap:address location="http://syngenta.com:9080/api/example/helloworld" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
