HelloWorldAPI/com.syngenta.esb.services-registry/wsdl/HttpErrorFaultv1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://garantibank.eu/ebo/v1"
	targetNamespace="http://garantibank.eu/ebo/v1" elementFormDefault="unqualified">

	<xsd:complexType name="HttpErrorFault">
		<xsd:sequence>
			<xsd:element name="httpErrorCode" type="xsd:string" minOccurs="0"	maxOccurs="1" />
			<xsd:element name="httpErrorMessage" type="xsd:string" minOccurs="0" maxOccurs="1" />
			<xsd:element name="jsonPayload" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
